    Author: Mikael Koli
    email: koli.mikael@gmail.com
    Date: 19.01.2019
    State: Stable

# Demonstration of Finnish Business Portal

This file demonstrates the use of Finnish Business Portal Python API. In order to replicate the demo, please make sure you have appropriate version of Python 3 and the libraries Pandas and Requests and their dependencies. After this, download this application from the source.

## Navigation:
* [Setup](#H0)
  * [Import the module](#H0_imports)
* [Parameters](#H1)
* [Example Searches](#H20)
* [Example Application](#H3)

## Setup<a class="anchor" id="H0"></a>

In [1]:
import datetime
import platform
import os
import sys

print(f'Python version: {platform.python_version()}')
print(f'''
Time of Run: 
    Year:    {datetime.datetime.now().year}
    Month:   {datetime.datetime.now().month}
    Day:     {datetime.datetime.now().day}
''')

Python version: 3.6.6

Time of Run:
    Year:    2019
    Month:   2
    Day:     19

### Import the module<a class="anchor" id="H0_imports"></a>

In [1]:
import finnish_business_portal as busportal

## Parameters<a class="anchor" id="H1"></a>

The API options can be found using "api_infos" or "api_options" attributes of the class. You can copy-paste the string as an initial argument for the class initiation. This is the only required argument.

In [2]:
busportal.SearchModel.api_infos

{'BisCompanyDetails': 'Nouda yritys- ja yhteisötietojärjestelmään merkitty yritys Y-tunnuksen avulla',
 'BisCompany': 'Hae yritys- ja yhteisötietojärjestelmään merkittyjä yrityksiä hakutermien avulla',
 'TradeRegisterCompanyDetails': 'Nouda kaupparekisteriin merkitty yritys Y-tunnuksen avulla',
 'TradeRegisterCompany': 'Hae kaupparekisteriin merkittyjä yrityksiä hakutermien avulla',
 'TrCompanyPublicNotice': 'Hae kaupparekisterin kuulutustietoja hakutermien avulla'}

In [3]:
busportal.SearchModel.api_options

['BisCompanyDetails',
 'BisCompany',
 'TradeRegisterCompanyDetails',
 'TradeRegisterCompany',
 'TrCompanyPublicNotice']

In [4]:
portal = busportal.SearchModel("BisCompany")

You can get allowed parameters for your selected API using method ".parameter_options". For more detailed information, use ".parameter_infos".

In [5]:
portal.parameter_options

['totalResults',
 'maxResults',
 'resultsFrom',
 'name',
 'businessId',
 'registeredOffice',
 'streetAddressPostCode',
 'companyForm',
 'businessLine',
 'businessLineCode',
 'companyRegistrationFrom',
 'companyRegistrationTo']

In [6]:
# Returning only two parameters for clarity
{key: val for i, (key, val) in enumerate(portal.parameter_infos.items()) if i < 2}

{'totalResults': {'name': 'totalResults',
  'description': 'Jos arvoksi valitaan true, hakutuloksen kokonaismäärä sisältyy tuloksiin totalResults-arvona. Muussa tapauksessa totalResults-arvo asetetaan arvoksi -1',
  'defaultValue': 'false',
  'required': False,
  'type': 'string',
  'paramType': 'query',
  'enum': ['true', 'false']},
 'maxResults': {'name': 'maxResults',
  'description': 'Tulosten enimmäismääränä on annettu luku',
  'defaultValue': '10',
  'required': False,
  'type': 'string',
  'paramType': 'query',
  'minimum': '0.0',
  'maximum': '1000.0'}}

There is also a method ".help()" to give thorough information of the APIs.

There are also other keyword arguments you can use in the class initiation.

These are:
- wait_time: seconds to wait before each call to slow down querying. Be nice to the APIs. (default: 2)
- loop_results: True to loop all found entries (causing multiple additional queries), False to return the first query (default: False) 
- deep: True to go through all detailed URLs giving more data but more queries (default: False)

## Example Searches<a class="anchor" id="H20"></a>

In [7]:
portal = busportal.SearchModel("BisCompany")
portal.search(name=["Fortum", "Nokia"], companyForm="oy")

INFO:finnish_business_portal.core.model:2 queries to make (time taken > 4)...
WARNING:finnish_business_portal.core.model:Not all entries in the API searched (10), set loop_results=True to get all.

The search returned itself and no any data. The data is in the attribute "results" but by default this is just a list of dictionaries. To turn the data to table format, use to_frame() (requires Pandas) and then access the results attribute.

In [8]:
portal.to_frame().results

,addresses,auxiliaryNames,businessIdChanges,businessLines,companyForm,companyForms,contactDetails,detailsUri,languages,liquidations,name,names,registedOffices,registeredEntries,registrationDate
businessId,,,,,,,,,,,,,,,
2679784-7,"[{'careOf': None, 'street': 'PL 100', 'postCod...",[],"[{'changeDate': '2015-06-30', 'change': 'DIF',...","[{'order': 0, 'version': 1, 'code': '68209', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '010 4511', 'type': '...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Fortum Real Estate Oy,"[{'order': 0, 'version': 1, 'name': 'Fortum Re...","[{'order': 0, 'version': 1, 'name': 'ESPOO', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2015-03-03
2947233-5,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2947233-5,NaN,NaN,Nokian Saneeraus Asiantuntijat Oy,NaN,NaN,NaN,2018-10-19
2892396-6,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2892396-6,NaN,NaN,Nokian JV-Saneeraus Oy,NaN,NaN,NaN,2018-02-09
2889182-9,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2889182-9,NaN,NaN,Nokian Timanttityö Oy,NaN,NaN,NaN,2018-02-01
2876707-8,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2876707-8,NaN,NaN,Nokian KamiPark Kuutti Oy,NaN,NaN,NaN,2017-12-18
2821488-7,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2821488-7,NaN,NaN,Nokian KamiPark Norppa Oy,NaN,NaN,NaN,2017-03-09
2756326-8,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2756326-8,NaN,NaN,Nokian KamiPark Halli Oy,NaN,NaN,NaN,2016-04-08
2733848-2,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2733848-2,NaN,NaN,Nokian Jäähalli Oy,NaN,NaN,NaN,2015-12-29
2726719-4,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2726719-4,NaN,NaN,Nokian Neulomo Oy,NaN,NaN,NaN,2015-11-25
2699718-7,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2699718-7,NaN,NaN,Nokian Kuusikuutio Oy,NaN,NaN,NaN,2015-07-06
2655044-9,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2655044-9,NaN,NaN,Nokia Technologies Oy,NaN,NaN,NaN,2014-11-19

The class does not loop the results by default and is showing only the number of companies specified in max_results. To get all of the companies, 
a) increase "max_results" (may crash the query if too large) or 
b) set "loop_results_" to True

In [9]:
portal = busportal.SearchModel("BisCompany", loop_results=True)
portal.search(name=["Fortum", "Nokia"], companyForm="oy")
portal.to_frame().results

INFO:finnish_business_portal.core.model:2 queries to make (time taken > 4)...

,addresses,auxiliaryNames,businessIdChanges,businessLines,companyForm,companyForms,contactDetails,detailsUri,languages,liquidations,name,names,registedOffices,registeredEntries,registrationDate
businessId,,,,,,,,,,,,,,,
2679784-7,"[{'careOf': None, 'street': 'PL 100', 'postCod...",[],"[{'changeDate': '2015-06-30', 'change': 'DIF',...","[{'order': 0, 'version': 1, 'code': '68209', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '010 4511', 'type': '...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Fortum Real Estate Oy,"[{'order': 0, 'version': 1, 'name': 'Fortum Re...","[{'order': 0, 'version': 1, 'name': 'ESPOO', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2015-03-03
2947233-5,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2947233-5,NaN,NaN,Nokian Saneeraus Asiantuntijat Oy,NaN,NaN,NaN,2018-10-19
2892396-6,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2892396-6,NaN,NaN,Nokian JV-Saneeraus Oy,NaN,NaN,NaN,2018-02-09
2889182-9,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2889182-9,NaN,NaN,Nokian Timanttityö Oy,NaN,NaN,NaN,2018-02-01
2876707-8,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2876707-8,NaN,NaN,Nokian KamiPark Kuutti Oy,NaN,NaN,NaN,2017-12-18
2821488-7,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2821488-7,NaN,NaN,Nokian KamiPark Norppa Oy,NaN,NaN,NaN,2017-03-09
2756326-8,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2756326-8,NaN,NaN,Nokian KamiPark Halli Oy,NaN,NaN,NaN,2016-04-08
2733848-2,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2733848-2,NaN,NaN,Nokian Jäähalli Oy,NaN,NaN,NaN,2015-12-29
2726719-4,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2726719-4,NaN,NaN,Nokian Neulomo Oy,NaN,NaN,NaN,2015-11-25
2699718-7,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2699718-7,NaN,NaN,Nokian Kuusikuutio Oy,NaN,NaN,NaN,2015-07-06
2655044-9,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2655044-9,NaN,NaN,Nokia Technologies Oy,NaN,NaN,NaN,2014-11-19
2644660-9,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2644660-9,NaN,NaN,Nokian Ramirakennus Oy,NaN,NaN,NaN,2014-09-30
2636612-3,NaN,NaN,NaN,NaN,OY,NaN,NaN,http://avoindata.prh.fi/opendata/bis/v1/2636612-3,NaN,NaN,Kirstua Vesa Oy,NaN,NaN,NaN,2014-08-22

In [10]:
portal = busportal.SearchModel("BisCompany", loop_results=False, deep=True)
portal.search(name=["Fortum", "Nokia"], companyForm="oy", total_results="True")
portal.to_frame().results

INFO:finnish_business_portal.core.model:2 queries to make (time taken > 4)...
WARNING:finnish_business_portal.core.model:Not all entries in the API searched (10 vs 12), set loop_results=True to get all.
INFO:finnish_business_portal.core.model:10 queries to make (time taken > 20)...

,addresses,auxiliaryNames,businessIdChanges,businessLines,companyForm,companyForms,contactDetails,detailsUri,languages,liquidations,name,names,registedOffices,registeredEntries,registrationDate
businessId,,,,,,,,,,,,,,,
2947233-5,"[{'careOf': 'Jari-Pekka Karjalainen', 'street'...",[],[],"[{'order': 0, 'version': 1, 'code': '41200', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '0405155979', 'type':...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian Saneeraus Asiantuntijat Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Sa...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2018-10-19
2892396-6,"[{'careOf': None, 'street': 'Tammikatu 10', 'p...",[],[],"[{'order': 0, 'version': 1, 'code': '81100', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...",[],None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian JV-Saneeraus Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian JV...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2018-02-09
2889182-9,"[{'careOf': None, 'street': 'Taivalkunnantie 1...",[],[],"[{'order': 0, 'version': 1, 'code': '43999', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...",[],None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian Timanttityö Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Ti...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2018-02-01
2876707-8,"[{'careOf': None, 'street': 'Tattikatu 10', 'p...",[],[],"[{'order': 0, 'version': 1, 'code': '68209', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '0400 736855', 'type'...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian KamiPark Kuutti Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Ka...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2017-12-18
2821488-7,"[{'careOf': None, 'street': 'Tattikatu 10', 'p...",[],[],"[{'order': 0, 'version': 1, 'code': '68209', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '0400736855', 'type':...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian KamiPark Norppa Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Ka...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2017-03-09
2756326-8,"[{'careOf': None, 'street': 'Tattikatu 10', 'p...",[],[],"[{'order': 0, 'version': 1, 'code': '68209', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '0400 736855', 'type'...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian KamiPark Halli Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Ka...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2016-04-08
2733848-2,"[{'careOf': None, 'street': 'Hinttalankatu 6',...",[],[],"[{'order': 0, 'version': 1, 'code': '93110', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '0407799069', 'type':...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian Jäähalli Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Jä...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2015-12-29
2726719-4,"[{'careOf': None, 'street': 'Kauppakatu 4 A 10...",[],"[{'changeDate': '2018-06-19', 'change': '48', ...","[{'order': 0, 'version': 1, 'code': '13990', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '0405006774', 'type':...",None,"[{'version': 1, 'name': 'Suomi', 'registration...","[{'version': 1, 'description': 'Konkurssissa',...",Nokian Neulomo Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Ne...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2015-11-25
2699718-7,"[{'careOf': None, 'street': 'Tattikatu 10', 'p...",[],[],"[{'order': 0, 'version': 1, 'code': '68209', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '0400-736855', 'type'...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokian Kuusikuutio Oy,"[{'order': 0, 'version': 1, 'name': 'Nokian Ku...","[{'order': 0, 'version': 1, 'name': 'NOKIA', '...","[{'authority': 1, 'register': 4, 'status': 1, ...",2015-07-06
2655044-9,"[{'careOf': None, 'street': 'PL 226', 'postCod...",[],[],"[{'order': 0, 'version': 1, 'code': '72193', '...",OY,"[{'version': 1, 'name': 'Limited company', 'ty...","[{'version': 1, 'value': '010 44 88 000', 'typ...",None,"[{'version': 1, 'name': 'Suomi', 'registration...",[],Nokia Technologies Oy,"[{'order': 0, 'version': 1, 'name': 'Nokia Tec...","[{'order': 0, 'version': 1, 'name': 'HELSINKI'...","[{'authority': 1, 'register': 4, 'status': 1, ...",2014-11-19

And finally testing with other API.

In [11]:
portal.api = "TradeRegisterCompany"
portal.parameter_options

['totalResults',
 'maxResults',
 'resultsFrom',
 'name',
 'businessId',
 'registeredOffice',
 'companyForm',
 'companyRegistrationFrom',
 'companyRegistrationTo',
 'companyChangedSince',
 'recordNumber',
 'entryCode',
 'noticeRegistrationFrom',
 'noticeRegistrationTo',
 'noticeRegistrationType']

In [12]:
portal.search(name="Renk", company_registration_from="2000-01-01")
portal.to_frame().results

INFO:finnish_business_portal.core.model:1 queries to make (time taken > 2)...
INFO:finnish_business_portal.core.model:9 queries to make (time taken > 18)...

,addresses,auxiliaryNames,bisDetailsUri,checkDate,companyForm,companyForms,detailsUri,language,latestRegistrationDate,name,names,publicNotices,registeredOffices,registrationDate
businessId,,,,,,,,,,,,,,
2802278-9,"[{'street': 'Lehtisenkuja 20', 'postCode': '49...",[],http://avoindata.prh.fi/opendata/bis/v1/2802278-9,None,OY,"[{'type': 'OY', 'registrationDate': '2017-01-1...",http://avoindata.prh.fi/opendata/tr/v1/2802278-9,FI,2018-05-30,Renkaat Performance Oy,"[{'order': 0, 'name': 'Renkaat Performance Oy'...","[{'recordNumber': '2018/34104W', 'registration...","[{'registeredOffice': 'Virolahti', 'language':...",2017-01-13
2784387-6,"[{'street': 'Halmetie 7', 'postCode': '00730',...",[],http://avoindata.prh.fi/opendata/bis/v1/2784387-6,None,OY,"[{'type': 'OY', 'registrationDate': '2016-10-1...",http://avoindata.prh.fi/opendata/tr/v1/2784387-6,FI,2016-10-14,Renkaat123 Oy,"[{'order': 0, 'name': 'Renkaat123 Oy', 'regist...","[{'recordNumber': '2016/240032', 'registration...","[{'registeredOffice': 'Helsinki', 'language': ...",2016-10-14
2673098-4,"[{'street': 'Rattitie 12-14', 'postCode': '007...","[{'order': 1, 'name': 'ROMUFIN', 'registration...",http://avoindata.prh.fi/opendata/bis/v1/2673098-4,None,OY,"[{'type': 'OY', 'registrationDate': '2015-02-1...",http://avoindata.prh.fi/opendata/tr/v1/2673098-4,FI,2019-01-10,Renku Oy,"[{'order': 0, 'name': 'Renku Oy', 'registratio...","[{'recordNumber': '2019/10726W', 'registration...","[{'registeredOffice': 'Helsinki', 'language': ...",2015-02-11
2631713-7,"[{'street': 'Marsinkuja 2', 'postCode': '01480...",[],http://avoindata.prh.fi/opendata/bis/v1/2631713-7,None,OY,"[{'type': 'OY', 'registrationDate': '2014-08-0...",http://avoindata.prh.fi/opendata/tr/v1/2631713-7,FI,2019-01-01,Renkipoika Etelä-Suomi Oy,"[{'order': 0, 'name': 'Renkipoika Etelä-Suomi ...","[{'recordNumber': '2018/54916T', 'registration...","[{'registeredOffice': 'Vantaa', 'language': 'E...",2014-08-05
2447504-3,"[{'street': 'Tupalankatu 3', 'postCode': '1568...",[],http://avoindata.prh.fi/opendata/bis/v1/2447504-3,None,OY,"[{'type': 'OY', 'registrationDate': '2011-12-2...",http://avoindata.prh.fi/opendata/tr/v1/2447504-3,FI,2018-05-03,Renkomäen Autohuolto Oy,"[{'order': 0, 'name': 'Renkomäen Autohuolto Oy...","[{'recordNumber': '2018/22639U', 'registration...","[{'registeredOffice': 'Lahti', 'language': 'EN...",2011-12-22
2308053-3,"[{'street': 'Ulvomäentie 20', 'postCode': '041...",[],http://avoindata.prh.fi/opendata/bis/v1/2308053-3,None,OY,"[{'type': 'OY', 'registrationDate': '2010-01-1...",http://avoindata.prh.fi/opendata/tr/v1/2308053-3,FI,2018-05-12,Renkipankki Oy,"[{'order': 0, 'name': 'Renkipankki Oy', 'regis...","[{'recordNumber': '2018/26313T', 'registration...","[{'registeredOffice': 'Helsinki', 'language': ...",2010-01-13
2074073-5,"[{'street': 'Paistontie 203', 'postCode': '124...",[],http://avoindata.prh.fi/opendata/bis/v1/2074073-5,None,OY,"[{'type': 'OY', 'registrationDate': '2006-11-2...",http://avoindata.prh.fi/opendata/tr/v1/2074073-5,FI,2018-01-31,Renkipoeka Oy,"[{'order': 0, 'name': 'Renkipoeka Oy', 'regist...","[{'recordNumber': '2018/11746V', 'registration...","[{'registeredOffice': 'Kuopio', 'language': 'E...",2006-11-29
2056821-8,"[{'street': 'Tupalankatu 9', 'postCode': '1568...",[],http://avoindata.prh.fi/opendata/bis/v1/2056821-8,None,OY,"[{'type': 'OY', 'registrationDate': '2006-09-0...",http://avoindata.prh.fi/opendata/tr/v1/2056821-8,FI,2018-05-10,Renksu Oy,"[{'order': 0, 'name': 'Renksu Oy', 'registrati...","[{'recordNumber': '2018/25013X', 'registration...","[{'registeredOffice': 'Lahti', 'language': 'EN...",2006-09-08
1713450-7,"[{'street': 'Koskelantie 15', 'postCode': '622...",[],http://avoindata.prh.fi/opendata/bis/v1/1713450-7,None,OY,"[{'type': 'OY', 'registrationDate': '2001-09-0...",http://avoindata.prh.fi/opendata/tr/v1/1713450-7,FI,2018-10-02,Renko & Renko Oy,"[{'order': 0, 'name': 'Renko & Renko Oy', 'reg...","[{'recordNumber': '2018/48628W', 'registration...","[{'registeredOffice': 'Kauhava', 'language': '...",2001-09-07

Some of the columns may seem to be confusing as they are list of dictionaries. You can "flat" them passing True to the to_frame method.

In [13]:
portal.to_frame(True).results

                addresses 0                                     \
                     street postCode type         city country
businessId
2802278-9   Lehtisenkuja 20    49900    1    Virolahti      FI
2784387-6        Halmetie 7    00730    1     Helsinki      FI
2673098-4    Rattitie 12-14    00770    1     Helsinki      FI
2631713-7      Marsinkuja 2    01480    1       Vantaa      FI
2447504-3     Tupalankatu 3    15680    1        LAHTI      FI
2308053-3    Ulvomäentie 20    04130    2        SIPOO      FI
2074073-5    Paistontie 203    12400    1   Tervakoski      FI
2056821-8     Tupalankatu 9    15680    1        LAHTI      FI
1713450-7    Koskelantie 15    62240    2  HUHMARKOSKI      FI

                                                                \
                      website                 phone        fax
businessId
2802278-9                None       +358 46 5257742       None
2784387-6   www.renkaat123.fi           +3725042886       None
2673098-4                None                  None       None
2631713-7                None                  None       None
2447504-3                None           09 85684050       None
2308053-3                None            0442622410       None
2074073-5                None            0405591068       None
2056821-8                None               0387870  038787500
1713450-7                None  0505773000 064354022       None

                                     ... registeredOffices 0  \
           registrationDate endDate  ...             endDate
businessId                           ...
2802278-9        2016-12-22    None  ...                None
2784387-6        2016-09-27    None  ...                None
2673098-4        2015-02-04    None  ...                None
2631713-7        2017-04-28    None  ...                None
2447504-3        2012-03-08    None  ...                None
2308053-3        2010-01-15    None  ...                None
2074073-5        2015-02-05    None  ...                None
2056821-8        2007-01-11    None  ...                None
1713450-7        2005-11-18    None  ...                None

           registeredOffices 1                                    \
              registeredOffice language registrationDate endDate
businessId
2802278-9            Virolahti       SE       2017-01-13    None
2784387-6          Helsingfors       SE       2016-10-14    None
2673098-4          Helsingfors       SE       2015-02-11    None
2631713-7                Vanda       SE       2014-08-05    None
2447504-3               Lahtis       SE       2011-12-22    None
2308053-3          Helsingfors       SE       2010-01-13    None
2074073-5               Kuopio       SE       2006-11-29    None
2056821-8               Lahtis       SE       2006-09-08    None
1713450-7              Kauhava       SE       2001-09-07    None

           registeredOffices 2                                    \
              registeredOffice language registrationDate endDate
businessId
2802278-9            Virolahti       FI       2017-01-13    None
2784387-6             Helsinki       FI       2016-10-14    None
2673098-4             Helsinki       FI       2015-02-11    None
2631713-7               Vantaa       FI       2014-08-05    None
2447504-3                Lahti       FI       2011-12-22    None
2308053-3             Helsinki       FI       2010-01-13    None
2074073-5               Kuopio       FI       2006-11-29    None
2056821-8                Lahti       FI       2006-09-08    None
1713450-7              Kauhava       FI       2001-09-07    None

           registrationDate
           registrationDate
businessId
2802278-9        2017-01-13
2784387-6        2016-10-14
2673098-4        2015-02-11
2631713-7        2014-08-05
2447504-3        2011-12-22
2308053-3        2010-01-13
2074073-5        2006-11-29
2056821-8        2006-09-08
1713450-7        2001-09-07

[9 rows x 101 columns]

But on the other hands, they were list of dicts for a reason.

## Example Application<a class="anchor" id="H3"></a>

In [14]:
import pandas as pd

Using a bit of data manipulation with Pandas, one can put the data any desirable format.

In [15]:
portal = busportal.SearchModel("BisCompany", loop_results=False, deep=True)
portal.search(name="Fortum", companyForm="oy", companyRegistrationFrom="2000-01-01")

INFO:finnish_business_portal.core.model:1 queries to make (time taken > 2)...
WARNING:finnish_business_portal.core.model:Not all entries in the API searched (10), set loop_results=True to get all.
INFO:finnish_business_portal.core.model:10 queries to make (time taken > 20)...

In [16]:
df_fortum = portal.to_frame(True).results

If case you need to get street addresses from a company/companies, you can do it like the following:

In [17]:
first_level = "address"
second_level = ("street", "postCode", "city", "country", "endDate")
(
    df_fortum[
        [col for col in df_fortum.columns 
         if col[0].startswith(first_level) 
         and col[1] in second_level]
    ]
    .stack(0)
).join(df_fortum["name"])

                          city  country     endDate postCode  \
businessId
2679784-7  addresses 0  FORTUM      NaN        None    00048
           addresses 1  FORTUM      NaN  2017-12-18    00048
           addresses 2   ESPOO      NaN        None    02150
2481332-1  addresses 0  FORTUM      NaN  2017-12-18    00048
           addresses 1   ESPOO      NaN  2017-12-18    02150
           addresses 2   ESPOO      NaN        None    02150
           addresses 3  FORTUM      NaN         NaN    00048
2481338-0  addresses 0  FORTUM      NaN  2017-12-18    00048
           addresses 1   ESPOO      NaN  2017-12-18    02150
           addresses 2   ESPOO      NaN        None    02150
           addresses 3  FORTUM      NaN         NaN    00048
2481336-4  addresses 0  FORTUM      NaN  2017-12-18    00048
           addresses 1   ESPOO      NaN  2017-12-18    02150
           addresses 2   ESPOO      NaN        None    02150
           addresses 3  FORTUM      NaN         NaN    00048
2185030-3  addresses 0  FORTUM      NaN  2017-12-18    00048
           addresses 1   ESPOO      NaN  2017-12-18    02150
           addresses 2   ESPOO      NaN        None    02150
           addresses 3  FORTUM      NaN         NaN    00048
2079891-0  addresses 0   ESPOO      NaN  2017-12-18    02150
           addresses 1  FORTUM      NaN        None    00048
           addresses 2  FORTUM      NaN  2016-08-24    00048
           addresses 3   ESPOO      NaN         NaN    02150
1852328-0  addresses 0  FORTUM      NaN  2017-10-10    00048
           addresses 1  FORTUM      NaN        None    00048
1852303-7  addresses 0  FORTUM      NaN        None    00048

                                    street                              name
businessId
2679784-7  addresses 0              PL 100             Fortum Real Estate Oy
           addresses 1    Keilaniementie 1             Fortum Real Estate Oy
           addresses 2  Keilalahdentie 2-4             Fortum Real Estate Oy
2481332-1  addresses 0    Keilaniementie 1  Fortum Power and Heat Holding Oy
           addresses 1    Keilaniementie 1  Fortum Power and Heat Holding Oy
           addresses 2  Keilalahdentie 2-4  Fortum Power and Heat Holding Oy
           addresses 3              PL 100  Fortum Power and Heat Holding Oy
2481338-0  addresses 0    Keilaniementie 1                     Fortum C&H Oy
           addresses 1    Keilaniementie 1                     Fortum C&H Oy
           addresses 2  Keilalahdentie 2-4                     Fortum C&H Oy
           addresses 3              PL 100                     Fortum C&H Oy
2481336-4  addresses 0    Keilaniementie 1                    Fortum Norm Oy
           addresses 1    Keilaniementie 1                    Fortum Norm Oy
           addresses 2  Keilalahdentie 2-4                    Fortum Norm Oy
           addresses 3              PL 100                    Fortum Norm Oy
2185030-3  addresses 0                PL 1                  Fortum Growth Oy
           addresses 1    Keilaniementie 1                  Fortum Growth Oy
           addresses 2  Keilalahdentie 2-4                  Fortum Growth Oy
           addresses 3              PL 100                  Fortum Growth Oy
2079891-0  addresses 0    Keilaniementie 1          Fortum Asiakaspalvelu Oy
           addresses 1              PL 100          Fortum Asiakaspalvelu Oy
           addresses 2              PL 100          Fortum Asiakaspalvelu Oy
           addresses 3  Keilalahdentie 2-4          Fortum Asiakaspalvelu Oy
1852328-0  addresses 0              PL 100                 Fortum Markets Oy
           addresses 1              PL 100                 Fortum Markets Oy
1852303-7  addresses 0              PL 100            Fortum Heat and Gas Oy

What happens here is that we take only the columns that have word "address" in the first level (ie. addresses 0) and the second level must in the list "street", "postCode", "city", "country" or "endDate". Then we put the first level as index level ("stack(0)") and join the name column to the results.

Note that the data is straight from the API and may have confusing fields (ie. there might not be a city named as "Fortum"). This has nothing to do with this software.

Easy and convenient way to transform the data. We can also use the same method with other columns:

In [18]:
first_level = "businessIdChanges"
(
    df_fortum[
        [col for col in df_fortum.columns if col[0].startswith(first_level)]
    ]
    .stack(0)
    .dropna(axis=1, how="all")
)

                               change  changeDate newBusinessId oldBusinessId  \
businessId
2679784-7  businessIdChanges 0    DIF  2015-06-30     2679784-7     1852303-7
           businessIdChanges 1     47  2015-07-01     2679784-7     1852303-7
2059590-2  businessIdChanges 0    FUU  2007-05-01     1852328-0     2059590-2
           businessIdChanges 1    DIF  2006-12-31     2059590-2     0100468-7
           businessIdChanges 2     47  2007-01-01     2059590-2     0100468-7
2059592-9  businessIdChanges 0    FUU  2007-05-01     0109160-2     2059592-9
           businessIdChanges 1    DIF  2006-12-31     2059592-9     0100468-7
           businessIdChanges 2     47  2007-01-01     2059592-9     0100468-7
1852328-0  businessIdChanges 0    FUU  2013-05-31     1852328-0     1466058-7
           businessIdChanges 1     44  2013-06-01     1852328-0     1466058-7
           businessIdChanges 2    DIF  2004-02-01     1852328-0     1570867-7
           businessIdChanges 3    FUU  2006-01-12     1852328-0     1759819-2
           businessIdChanges 4    FUU  2007-05-01     1852328-0     2059590-2
1852303-7  businessIdChanges 0    DIF  2015-06-30     2679784-7     1852303-7
           businessIdChanges 1     47  2015-07-01     2679784-7     1852303-7
           businessIdChanges 2    DIF  2004-05-01     1852303-7     0111973-2

                                source
businessId
2679784-7  businessIdChanges 0     1.0
           businessIdChanges 1     2.0
2059590-2  businessIdChanges 0     1.0
           businessIdChanges 1     1.0
           businessIdChanges 2     2.0
2059592-9  businessIdChanges 0     1.0
           businessIdChanges 1     1.0
           businessIdChanges 2     2.0
1852328-0  businessIdChanges 0     1.0
           businessIdChanges 1     2.0
           businessIdChanges 2     1.0
           businessIdChanges 3     1.0
           businessIdChanges 4     1.0
1852303-7  businessIdChanges 0     1.0
           businessIdChanges 1     2.0
           businessIdChanges 2     1.0

The codes can also easily be turned in the full name. Please see the API documentation for the codings.

In [19]:
(
    df_fortum[
        [col for col in df_fortum.columns if col[0].startswith("contactDetails")]
    ]
    .stack(0)
    .query('language == "EN" & endDate != endDate')
    .dropna(how="all", axis=1)
)

                             language registrationDate  source       type  \
businessId
2679784-7  contactDetails 2        EN       2015-06-05     0.0  Telephone
2481332-1  contactDetails 2        EN       2012-05-30     0.0  Telephone
2481338-0  contactDetails 2        EN       2012-05-30     0.0  Telephone
2481336-4  contactDetails 2        EN       2012-05-30     0.0  Telephone
2185030-3  contactDetails 2        EN       2008-03-20     0.0  Telephone
2079891-0  contactDetails 11       EN       2007-12-19     0.0        Fax
           contactDetails 8        EN       2007-12-19     0.0  Telephone

                                   value  version
businessId
2679784-7  contactDetails 2     010 4511      1.0
2481332-1  contactDetails 2      0104511      1.0
2481338-0  contactDetails 2      0104511      1.0
2481336-4  contactDetails 2      0104511      1.0
2185030-3  contactDetails 2      0104511      1.0
2079891-0  contactDetails 11  0104532353      1.0
           contactDetails 8      0104511      1.0

Thanks to the versatileness of Pandas, you can also query the data in single line. Note that NaN values are never equal to themselves thus you can query them with using the logic.

## Additional Links

The meaning of "entryCodes" and "typeOfRegistration" can be found from the API's website.
- Entry codes: http://avoindata.prh.fi/tr-codes_v1.fi.txt
- Type of Registration: http://avoindata.prh.fi/tr-type_v1.fi.txt